{{!@glint-nocheck}}
<div class='board-page'>
  <Features::Gestures::OverscrollContainer
    @direction='down'
    @disabled={{this.disableOverscroll}}
    @onOverscroll={{this.handleOverscroll}}
  >
    {{#each this.threads as |thread|}}
      <Board::Thread
        @thread={{thread}}
        @isFinalElement={{is-final-element thread this.threads}}
      />
      {{#if (is-final-element thread this.threads)}}
        <Misc::UpdateScrollPosition />
      {{/if}}
    {{/each}}
  </Features::Gestures::OverscrollContainer>
</div>