html,
html * {
  /* Layout */
  --global-padding: 0px;
  --global-gap: 1px;
  --global-border-radius: 0px;

  /* Colors */
  --color-application-background: #060f15;
  --color-nav-background: #0c1c2c;
  --color-post-background-primary: #394e63;
  --color-post-background-secondary: #293746;
  --color-accent: #00d9ff;

  --color-text-default: #f1f1f1;
  --color-text-subtle: #aeaeae;
  --color-text-link: var(--color-text-subtle);
  --color-text-highlighted: white;
  --color-text-mod: yellow;

  --color-block-header: var(--color-nav-background);
  --color-block-background: color-mix(
    in lch,
    var(--color-block-header),
    transparent
  );
  --color-avatar-background: #394e63;

  --color-container-background: var(--color-nav-background);
  --color-control-inactive: #142637;
  --color-control-disabled: var(--color-post-background-primary);

  --color-modal-background: var(--color-nav-background);

  --color-info: var(--color-modal-background);
  --color-success: #21922b;
  --color-warning: #e08e2a;
  --color-error: #c83232;

  --color-newsfeed-indicator-info: var(--color-accent);
  --color-newsfeed-indicator-important: var(--color-error);

  /* Filters */
  --filter-control-active: brightness(135%);
  --filter-loading-indicator: brightness(75%);
  --filter-click-ripple: brightness(125%);

  /* Misc */
  --global-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
