html[data-theme='showman'],
html[data-theme='snowman'] * {
  /* Layout */
  --global-gap: 0px;

  /* Colors */
  --color-application-background: #f7f7f7;
  --color-nav-background: #cecece;
  --color-post-background-primary: var(--color-application-background);
  --color-post-background-secondary: var(--color-nav-background);
  --color-accent: #009cb8;

  --color-text-default: #333333;
  --color-text-subtle: #3f3f3f;
  --color-text-link: var(--color-text-subtle);
  --color-text-highlighted: #131313;
  --color-text-mod: rgb(150, 0, 0);

  --color-control-inactive: var(--color-nav-background);

  --color-block-header: #aaaaaa;

  --color-modal-background: var(--color-application-background);

  --color-success: #70cc78;
  --color-warning: #e4a75c;
  --color-error: #ca4949;

  /* Filters */
  --filter-control-active: brightness(85%);
}
