html[data-theme='showman'],
html[data-theme='snowman'] * {
  /* Colors */
  --color-application-background: #f7f7f7;
  --color-nav-background: #cecece;
  --color-post-background-primary: var(--color-application-background);
  --color-post-background-secondary: #cfcfcf;
  --color-accent: #00d9ff;

  --color-loading-indicator-background: rgba(61, 61, 61, 0.7);

  --color-text-default: #333333;
  --color-text-subtle: #3f3f3f;
  --color-text-link: var(--color-text-subtle);
  --color-text-highlighted: #131313;
  --color-text-mod: rgb(150, 0, 0);

  --color-container-background: var(--color-nav-background);
  --color-control-inactive: var(--color-post-background-secondary);
  --color-control-disabled: var(--color-application-background);
  --color-input-inactive: var(--color-control-inactive);

  --color-block-background: rgb(0, 0, 0, 0.1);

  --color-click-ripple: var(--color-text-default);

  --color-modal-background: var(--color-nav-background);

  --color-info: var(--color-modal-background);
  --color-success: #21922b;
  --color-warning: #e08e2a;
  --color-error: #c83232;

  --color-newsfeed-indicator-info: var(--color-accent);
  --color-newsfeed-indicator-important: var(--color-error);

  /* Filters */
  --filter-control-active: brightness(85%);
  --filter-block-header: brightness(85%);
}
