.quickstart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quickstart > hr {
  margin: 0.5rem auto;
}

.quickstart > h3 {
  margin: 0.5rem auto;
}

.quickstart > p {
  margin: 0.5rem auto;
}

.quickstart:not(.quickstart-sidebar) .quickstart-item {
  background-color: var(--color-primary);
}

.quickstart-item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-bottom: max(1px, var(--global-border-radius));
  border-radius: var(--global-border-radius);
  align-items: stretch;
  justify-content: start;
}

.quickstart-item > button:first-child,
.quickstart-item > .button-link:first-child {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  height: 60px;
  padding: 0 0.5rem 0 0.5rem;
}

.quickstart-item > .menu-button {
  height: unset;
}

.quickstart-item p {
  margin: 0;
}

.quickstart-item > *:not(.menu-button) > svg {
  min-width: 16px;
  margin-right: 0.5rem !important;
}
