@import "./colors.css";
@import "./layout.css";
@import "./text.css";
@import "./main-nav.css";
@import "./sidebar.css";

@import "./control/button.css";
@import "./control/dropdown.css";

@import "./board/board.css";
@import "./board/board-overview.css";
@import "./board/post.css";
@import "./board/thread.css";

html {
  background-color: var(--color-application-background);
}

body {
  margin: 0;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-text-default);
}

.ember-application * {
  transition: color 200ms, background-color 200ms, border-color 200ms, text-shadow 200ms, transform 200ms, scale 200ms, opacity 200ms;
}