:root {
  --color-application-background: #060f15;
  /* --color-nav-background: #091827; */
  --color-nav-background: #0c1c2c;
  --color-post-background-primary: #394e63;
  --color-post-background-secondary: #293746;
  --color-accent: #00d9ff;

  --color-loading-indicator-background: rgba(41, 55, 70, 0.7);

  --color-text-default: #f1f1f1;
  --color-text-subtle: #aeaeae;
  --color-text-link: var(--color-text-subtle);
  --color-text-highlighted: white;
  --color-text-mod: yellow;

  --color-container-background: var(--color-nav-background);
  --color-control-inactive: #142637;
  --color-control-disabled: #333d4b;
  --color-control-hover: #1b3149;
  --color-control-hover-transparent: rgba(255, 255, 255, 0.1);
  --color-input-inactive: var(--color-control-inactive);

  --color-quote-header: var(--color-nav-background);
  --color-quote-background: rgba(20, 35, 55, 0.5);

  --color-click-ripple: var(--color-text-default);

  --color-modal-background: var(--color-nav-background);

  --color-info: var(--color-modal-background);
  --color-success: #21922b;
  --color-warning: #e08e2a;
  --color-error: #c83232;

  --color-newsfeed-indicator-info: var(--color-accent);
  --color-newsfeed-indicator-important: var(--color-error);
}

.control-variant-primary {
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
}

.control-variant-primary:disabled {
  background-color: var(--color-control-disabled);
}

.control-variant-primary svg {
  color: var(--color-text-default);
}

.control-variant-primary-transparent,
.control-variant-primary-transparent svg {
  background-color: transparent;
  color: var(--color-text-default);
}

.control-variant-secondary,
.color-variant-secondary svg {
  background-color: transparent;
  color: var(--color-text-subtle);
}

.bg-transparent {
  background-color: transparent;
}

.bg-info {
  background-color: var(--color-info);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-error {
  background-color: var(--color-error);
}

.fg-error {
  color: var(--color-error);
}

.fg-accent {
  color: var(--color-accent);
}

.fg-text-subtle {
  color: var(--color-text-subtle);
}
