.control-variant-primary {
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
}

.control-variant-primary:disabled {
  background-color: var(--color-control-disabled);
}

.control-variant-primary svg {
  color: var(--color-text-default);
}

.control-variant-primary-transparent,
.control-variant-primary-transparent svg {
  background-color: transparent;
  color: var(--color-text-default);
}

.control-variant-secondary,
.color-variant-secondary svg {
  background-color: transparent;
  color: var(--color-text-subtle);
}

.bg-transparent {
  background-color: transparent;
}

.bg-info {
  background-color: var(--color-info);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-error {
  background-color: var(--color-error);
}

.fg-error {
  color: var(--color-error);
}

.fg-accent {
  color: var(--color-accent);
}

.fg-text-subtle {
  color: var(--color-text-subtle);
}
