:root {
  /* iOS compatibility */
  --bottom-nav-bottom-border: 0px;
  --bottom-nav-bottom-border-ios: 1rem;
}

/* Webkit scrollbar override */
::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  overflow: visible;
  /* background: var(--color-post-background-primary); */
  background: var(--color-nav-background);
}

::-webkit-scrollbar-thumb {
  /* background: var(--color-nav-background); */
  background: var(--color-post-background-secondary);
  width: 0.4rem;
  -webkit-border-radius: var(--global-border-radius);
}

::-webkit-scrollbar-corner {
  background: transparent
}