:root {
  --control-default-height: 45px;
  --control-input-height: calc(var(--control-default-height) + 0.5rem);
  /* The following variables may change during runtime. */
  --global-border-radius: 0px;
  --global-gap: unset;
}

#page-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 0 auto;
  min-height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
  background-color: var(--color-application-background);
  padding-top: var(--top-nav-height);
  padding-bottom: var(--bottom-nav-height);
  padding-left: var(--global-gap);
  padding-right: var(--global-gap);
  z-index: 5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 1rem auto auto auto;
  padding: 1rem;
}

.container > h1:first-child {
  margin: 0 auto 0 auto;
}

.container-size-small {
  width: 320px;
}

.container-size-medium {
  width: 450px;
}

.container-size-large {
  width: 600px;
}

.container-size-larger {
  width: 800px;
}

.container-size-x-large {
  width: 1000px;
}

.container-size-max {
  width: 100%;
}

.control-size-square {
  width: var(--control-default-height);
  min-width: var(--control-default-height);
}

.control-size-square > svg {
  font-size: x-large;
}

.control-size-small {
  width: 100px;
  max-width: min(80, 100%);
}

.control-size-medium {
  width: 140px;
  max-width: min(120px, 100%);
}

.control-size-large {
  width: 180px;
  max-width: min(180px, 100%);
}

.control-size-larger {
  width: 220px;
  max-width: min(220px, 100%);
}

.control-size-max {
  width: 100%;
  max-width: 100%;
}

.control-row {
  display: flex;
  flex-direction: row;
}

.control-row > *:not(:last-child) {
  margin-right: 0.5rem;
}

.error-container {
  padding: 2rem;
}

.padding-medium {
  padding: 2rem;
}

.no-margin {
  margin: 0 !important;
}

.margin-auto {
  margin: auto !important;
}

.margin-vertical-x-small {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.margin-horizontal-x-small {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.margin-small {
  margin: 1rem;
}

.no-padding {
  padding: 0 !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-start {
  align-items: start !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-start {
  justify-content: start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

img {
  max-width: 100%;
}
