#main-nav {
  width: 100dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--main-nav-height);
  position: fixed;
  background-color: var(--color-nav-background);
  top: var(--main-nav-top);
  bottom: var(--main-nav-bottom);
  z-index: 20;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5)
}

#main-nav>div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-nav-inner-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
  flex-grow: 1;
  width: 0px;
}

.main-nav-inner-left * {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-nav-inner-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

#main-nav button, #main-nav .button-link {
  height: var(--main-nav-height);
}

#main-nav .menu-button {
  color: var(--color-text-default);
}