@import "modal/select-icon.css";
@import "modal/select-meme.css";

#modal {
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  max-width: 90vw;
  border-radius: var(--global-border-radius);
  border: none;
  padding: 0;
  background-color: var(--color-container-background);
  color: var(--color-text-default);
  scale: 0;
  opacity: 0;
  z-index: 79;
}

#modal.show {
  scale: 1;
  opacity: 1;
}

#modal-backdrop {
  display: none;
  z-index: 78;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: default;
}

#modal[open]+#modal-backdrop {
  display: block;
}

#modal.show+#modal-backdrop {
  opacity: 1;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: var(--control-default-height);
}

.modal-header svg {
  font-size: large;
  margin: 0 0.75rem 0 1rem;
}

.modal-header h3 {
  margin: 0;
}

.modal-header-default {
  background-color: var(--color-info);
}

.modal-header-success {
  background-color: var(--color-success);
}

.modal-header-warning {
  background-color: var(--color-warning);
}

.modal-header-error {
  background-color: var(--color-error);
}

.modal-content {
  padding: 0.5rem 1rem;
}

.modal-content p {
  margin: 0;
}

.modal-footer {
  margin-top: 0.5rem;
  border-top: 1px solid var(--color-control-inactive);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal-footer button {
  padding: 0 1rem 0 1rem;
  margin-left: 0.5rem;
}