:root {
  --top-nav-height: 55px;
  --bottom-nav-height: calc(55px + var(--bottom-nav-bottom-border));
  /* May change during runtime */
  --bottom-nav-left-gap: 0px;
  --bottom-nav-right-gap: 0px;
  --nav-controls-opacity: 1;
  --nav-controls-pointer-events: all;
}

.nav {
  width: 100dvw;
  position: fixed;
  background-color: var(--color-nav-background);
  box-shadow: var(--global-box-shadow);
}

.nav .nav-portal-target button,
.nav .button-link {
  opacity: var(--nav-controls-opacity);
  pointer-events: var(--nav-controls-pointer-events);
}

.nav button:not(.menu-item) > svg,
.nav .button-link:not(.menu-item) > svg {
  font-size: var(--icon-size-large) !important;
}

#top-nav {
  height: var(--top-nav-height);
  top: 0;
  z-index: 20;
}

#top-nav .nav-portal-target {
  position: absolute;
  width: calc(100% - 2 * var(--control-default-height));
  left: 50%;
  transform: translateX(-50%);
}

#bottom-nav {
  box-sizing: border-box;
  display: flex;
  height: var(--bottom-nav-height);
  bottom: 0;
  z-index: 10;
  border-bottom: var(--bottom-nav-bottom-border) solid
    var(--color-nav-background);
}

#bottom-nav .nav-portal-target {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav > *,
.nav-portal-target > *,
.nav-element-center > *,
.nav button {
  height: 100% !important;
}

.nav-element-left {
  position: relative;
  left: var(--bottom-nav-left-gap);
}

.nav-element-right {
  position: relative;
  right: var(--bottom-nav-right-gap);
}

.nav-element-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.nav-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-header > .title {
  text-align: center;
}

.nav-header * {
  margin: 0;
}

.sidebar-toggle {
  position: absolute;
  left: var(--sidebar-left);
  right: var(--sidebar-right);
}

.nav-tabs {
  width: calc(100% - var(--bottom-nav-right-gap) - var(--bottom-nav-left-gap));
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: var(--bottom-nav-left-gap);
  margin-right: var(--bottom-nav-right-gap);
  overflow-x: auto;
}

.nav-tabs > a {
  flex-grow: 1;
  padding: 0 0.25rem;
  min-width: fit-content;
  max-width: 10rem;
}

#top-nav .nav-tabs > a.active {
  border-bottom: solid 2px var(--color-accent);
}

#bottom-nav .nav-tabs > a.active {
  border-top: solid 2px var(--color-accent);
}
