.c-notification {
  box-shadow: var(--global-box-shadow) !important;
}

.c-notification,
.c-notification * {
  border-radius: var(--global-border-radius) !important;
}

.c-notification--info {
  background-color: var(--color-info) !important;
}
.c-notification--success {
  background-color: var(--color-success) !important;
}
.c-notification--warning {
  background-color: var(--color-warning) !important;
}
.c-notification--error {
  background-color: var(--color-error) !important;
}

.ember-cli-notifications-notification__container--bottom {
  bottom: calc(var(--bottom-nav-height) + 1rem);
}

.svg-inline--fa path {
  color: inherit;
}

/* Prevent some styles from leaking into QUnit. */
#qunit * {
  color: unset;
}
