:root {
  /* Ember Notifications */
  --ecn-blue: var(--color-info);
  --ecn-green: var(--color-success);
  --ecn-orange: var(--color-warning);
  --ecn-red: var(--color-error);
}

.ember-cli-notifications-notification__container--bottom {
  bottom: calc(var(--bottom-nav-height) + 1rem);
}