/* Large tablets and desktops */
@media only screen and (min-width: 768px) {

  /* Hover effects */
  a:hover {
    opacity: 0.8;
  }

  button:not(:disabled):hover, .button-link:not(:disabled):hover {
    opacity: 1;
    background-color: var(--color-control-hover);
  }

  .board-category-header:hover {
    background-color: var(--color-control-hover);
  }

  .board-item-important:hover {
    background-color: var(--color-control-hover);
  }

  .dropdown-item:hover {
    background-color: var(--color-control-hover);
    color: var(--color-text-default);
  }

  .menu-button-item:not(:disabled):hover {
    background-color: var(--color-control-hover);
  }

  input:hover {
    background-color: var(--color-control-hover);
  }
}