/* Large tablets and desktops */
@media only screen and (min-width: 1200px) {
  :root {
    --max-content-width: 1200px;
    --bottom-nav-height: 0px;
    --sidebar-left: 0px !important;
    --sidebar-right: unset !important;
  }

  /* Page layout */
  #page-content {
    transition: margin 500ms !important;
    margin-left: var(--sidebar-width);
    padding-bottom: 8rem;
  }

  /* Sidebar */
  #sidebar-backdrop {
    display: none;
  }

  /* Private messages */
  .private-message-view-header {
    display: flex;
    flex-direction: row;
  }

  .private-message-view-header .avatar {
    margin: 0 !important;
  }

  .private-message-view-header > hr {
    width: 2px;
  }

  .private-message-view-header > table {
    width: unset;
  }

  .private-message-view-header tr > td:first-child {
    padding-right: 1rem;
  }

  /* Nav */

  #top-nav .nav-portal-target {
    left: 0;
    width: 100vw;
    transform: unset;
  }

  #top-nav .sidebar-toggle {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  #top-nav .nav-element-left {
    position: absolute;
    left: var(--control-default-height);
  }

  #top-nav .nav-header {
    position: absolute;
    left: calc(2 * var(--control-default-height) + 0.5rem);
    width: auto;
    align-items: start;
  }

  #top-nav .nav-element-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #top-nav .nav-element-center .menu-dropdown {
    position: fixed;
    top: var(--top-nav-height);
  }

  #top-nav .nav-element-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav .nav-portal-target button,
  .nav .button-link {
    opacity: 1 !important;
    pointer-events: all !important;
  }

  /* Hover effects */
  button:not(:disabled):hover,
  .button-link:not(:disabled):hover,
  .dropdown-toggle:not(:disabled):hover,
  .menu-button:not(:disabled):focus,
  .menu-button-item:not(:disabled):hover,
  .dropdown-item:not(:disabled):hover,
  input:not(:disabled):hover {
    filter: var(--filter-control-active);
    backdrop-filter: var(--filter-control-active);
  }
}
