/* Large tablets and desktops */
@media only screen and (min-width: 768px) {
  .control-variant-primary:not(:disabled):hover,
  .dropdown-toggle:not(:disabled):hover,
  .menu-button-item:not(:disabled):hover,
  .dropdown-item:not(:disabled):hover,
  input:not(:disabled):hover {
    background-color: var(--color-control-hover);
  }

  .control-variant-primary-transparent:not(:disabled):hover,
  .control-variant-secondary:not(:disabled):hover {
    background-color: var(--color-control-hover-transparent);
  }

  .dropdown-item:hover {
    color: var(--color-text-default);
  }

  .board-category-header:hover,
  .board-category-item:hover,
  .board-item:hover,
  .quickstart-item > a:hover,
  .quickstart-item > button:hover {
    opacity: 0.8;
  }

  .board-category-header:hover,
  .board-item-important:hover {
    background-color: var(--color-post-background-secondary) !important;
  }

  .board-category-item:hover,
  .board-item {
    background-color: var(--color-post-background-primary) !important;
  }
}
