:root {
  --sidebar-expanded-width: 300px;
  /* Will be modified during runtime */
  --sidebar-width: 0px;
}

#sidebar {
  position: fixed;
  background-color: var(--color-nav-background);
  height: calc(100dvh - var(--top-nav-height));
  z-index: 15;
  transition: width 500ms !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  top: var(--top-nav-height);
  left: 0;
  width: var(--sidebar-width);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5)
}

#sidebar * {
  text-decoration: none;
}

#sidebar-nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: var(--sidebar-expanded-width);
  height: var(--control-default-height);
}

#sidebar-nav a {
  color: var(--color-text-default);
  height: var(--control-default-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar-content {
  flex-grow: 1;
  width: var(--sidebar-expanded-width);
}

#sidebar-content>* {
  width: 100%;
}

#news-feed-title {
  text-align: center;
}

#sidebar-content hr {
  max-width: calc(var(--sidebar-expanded-width) - 2rem);
}

#sidebar-content .title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-content-element>button, .sidebar-content-element>.button-link {
  min-height: 60px;
  height: 60px;
}

.sidebar-content-element>.button-link:first-child {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.sidebar-content-element>.button-link:first-child>* {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.sidebar-content-element>.button-link:first-child>.title {
  margin: 0 0 0.25rem 0 !important;
}

.sidebar-error-text {
  margin: 0.5rem;
  width: calc(100% - 1rem) !important;
  text-align: center;
}