:root {
  --sidebar-expanded-width: 300px;
  --sidebar-transition-time: 100ms;
  /* Will be modified during runtime */
  --sidebar-height: calc(
    100dvh - var(--top-nav-height) - var(--bottom-nav-height)
  );
  --sidebar-width: 0px;
  --sidebar-left: 0px;
  --sidebar-right: unset;
  --sidebar-backdrop-opacity: 0;
  --sidebar-backdrop-pointer-events: none;
}

#sidebar {
  position: fixed;
  background-color: var(--color-nav-background);
  height: var(--sidebar-height);
  z-index: 15;
  transition: width var(--sidebar-transition-time) ease !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: var(--top-nav-height);
  width: var(--sidebar-width);
  left: var(--sidebar-left);
  right: var(--sidebar-right);
  box-shadow: var(--global-box-shadow);
}

#sidebar-backdrop {
  position: fixed;
  z-index: 14;
  top: var(--top-nav-height);
  height: var(--sidebar-height);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: var(--sidebar-backdrop-opacity);
  cursor: default;
  pointer-events: var(--sidebar-backdrop-pointer-events);
}

#sidebar * {
  text-decoration: none;
  direction: ltr;
}

#sidebar-nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: var(--sidebar-expanded-width);
  height: var(--control-default-height);
  background-color: var(--color-nav-background);
  z-index: 19;
}

#sidebar-nav a {
  color: var(--color-text-default);
  height: var(--control-default-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar-nav svg {
  margin: 0;
}

#sidebar-content {
  height: calc(var(--sidebar-height) - var(--control-default-height));
  width: var(--sidebar-expanded-width);
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

#sidebar-content > * {
  width: 100%;
}

#news-feed-title {
  text-align: center;
}

#sidebar-content hr {
  max-width: calc(var(--sidebar-expanded-width) - 2rem);
}

#sidebar-gestures-container-outer {
  position: fixed;
  width: 1.5rem;
  height: inherit;
  left: calc(var(--sidebar-width) + var(--sidebar-left));
  right: calc(var(--sidebar-width) + var(--sidebar-right));
}
