.subtitle, .subtitle b {
  font-size: small;
  color: var(--color-text-subtle);
}

a, a:visited {
  color: var(--color-text-link);
}

a:hover {
  opacity: 0.8;
}

b {
  color: var(--color-text-highlighted);
}