:root {
  --icon-size-large: 24px;
  --icon-size-medium: 18px;
  /* May change during runtime. */
  --global-font-size: 'medium';
  font-size: var(--global-font-size);
}

.title {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-text-highlighted);
}

.subtitle,
.subtitle b {
  font-size: smaller;
  color: var(--color-text-subtle);
}

a,
a:visited {
  color: var(--color-text-link);
}

b {
  color: var(--color-text-highlighted);
}

hr {
  box-sizing: border-box;
  color: var(--color-text-subtle);
  border-radius: 50%;
  opacity: 0.2;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.max-lines-1,
.max-lines-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-lines-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.max-lines-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

.icon-size-large svg {
  font-size: var(--icon-size-large);
}

.icon-size-medium svg {
  font-size: var(--icon-size-medium);
}

.icon-size-auto svg {
  font-size: 1em;
}
