.title {
  font-size: medium;
  font-weight: bold;
  color: var(--color-text-highlighted)
}

.subtitle, .subtitle b {
  font-size: small;
  color: var(--color-text-subtle);
}

a, a:visited {
  color: var(--color-text-link);
}

b {
  color: var(--color-text-highlighted);
}

hr {
  box-sizing: border-box;
  color: var(--color-text-subtle);
  border-radius: 50%;
  opacity: 0.2;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}