<div class='thread-page'>
  <div
    class='thread-page-content {{if this.makeAllPostsSubtle " post-subtle"}}'
  >
    {{#each this.posts as |post|}}
      <Board::Post
        @post={{post}}
        @avatarStyle={{this.avatarStyle}}
        @subtle={{is-post-subtle post @subtleUntilPostId @page}}
      />
    {{/each}}
  </div>
</div>