{{! @glint-nocheck }}
<div class='thread-page'>
  <div class='thread-page-content'>
    {{#each this.posts as |post|}}
      <Board::Post @post={{post}} @thread={{@thread}} />
      {{#if (eq @lastReadPost post.id)}}
        <Routes::Thread::Unread-Posts-Separator
          @post={{post}}
          @posts={{this.posts}}
        />
      {{/if}}
      {{#if (is-final-element post this.posts)}}
        <Misc::UpdateScrollPosition />
      {{/if}}
    {{/each}}
  </div>
</div>