<div class='thread-page'>
  <div class='thread-page-content'>
    {{#each this.posts as |post|}}
      <Board::Post
        @post={{post}}
        @thread={{@thread}}
        @subtle={{is-post-subtle post @subtleUntilPostId}}
      />
      {{#if (is-final-element post this.posts)}}
        <Misc::UpdateScrollPosition />
      {{/if}}
    {{/each}}
  </div>
</div>