<div class='thread-page'>
  <div class='thread-page-content'>
    {{#each this.posts as |post|}}
      <Board::Post
        @post={{post}}
        @thread={{@thread}}
        @avatarStyle={{this.avatarStyle}}
        @subtle={{is-post-subtle post @subtleUntilPostId @thread.page}}
      />
    {{/each}}
  </div>
</div>