.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--color-thread-background);
  padding: 0.5rem;
  height: auto;
  width: 100%;
  align-items: flex-start !important;
}

.item:not(:first-of-type) {
  margin-top: var(--global-gap);
}

.important {
  background-color: var(--color-thread-important-background);
}

.unread {
  background-color: var(--color-thread-unread-background);
}

.item :global(.subtitle) {
  margin: 0;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  margin-bottom: 0.25rem;
}

.header :global(.title) {
  display: flex;
  align-items: center;
  color: var(--color-text-default);
  font-weight: bold;
}

.header :global(.title) > svg {
  color: var(--color-accent);
  margin-right: 0.5ch !important;
}

.header :global(.title) img {
  margin-right: 0.5ch;
}

.header :global(.title) p {
  margin: 0;
}

.flags svg {
  color: var(--color-text-subtle);
  font-size: smaller;
  margin: 0 !important;
}

.activity-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
