.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* height: auto; */
  height: 100svh;
  max-height: calc(
    100svh - var(--top-nav-height) - var(--bottom-nav-height) - 2 *
      var(--global-padding)
  );
  margin-bottom: 0.25rem;
}

.form :global(.input-container:has(textarea)) {
  flex-grow: 1;
  height: auto;
}

.form > *:not(:first-child) {
  margin-top: 0.25rem;
}

.button-row {
  display: flex;
  justify-content: center;
}

.button-row > button:not(first-child) {
  margin-left: 0.5rem;
}
