{{! @glint-nocheck }}
<div class='error-container'>
  <h1>404</h1>

  <h3>Diese Seite konnten wir nicht finden.</h3>

  <div class='control-row'>
    <LinkTo @route='authenticated'>
      <Common::Control::Button
        @icon='house'
        @text='Startseite'
        @size='medium'
        @variant='primary'
      />
    </LinkTo>
    <Common::Control::Button
      @icon='rotate-right'
      @text='Neu laden'
      @size='medium'
      @variant='primary'
    />
  </div>
</div>