button,
.button-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--control-default-height);
  min-height: var(--control-default-height);
  border: none;
  border-radius: var(--global-border-radius);
  font-size: 1em;
}

button:not(:disabled),
.button-link:not(:disabled) {
  cursor: pointer;
}

button:not(.control-size-square) svg,
.button-link:not(.control-size-square) svg {
  margin-right: 0.5rem;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.button-link,
.button-link:visited {
  color: var(--color-text-default);
}

.button-link-disabled {
  cursor: default !important;
  filter: none !important;
  backdrop-filter: none !important;
}
