.dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --dropdown-height: calc(var(--control-default-height) + 0.5rem);
}

.dropdown-label {
  position: absolute;
  color: var(--color-text-subtle);
  top: 50%;
  transform: translateY(-125%);
  left: 1rem;
  font-size: smaller;
}

.dropdown-inner {
  position: relative;
  flex: 1;
}

.dropdown-toggle {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--dropdown-height);
  border-radius: var(--global-border-radius);
  padding: 0px 1rem 0px 1rem;
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:not(:disabled):hover {
  filter: var(--filter-control-active);
}

.dropdown-toggle-icon {
  width: 1rem;
  margin-right: 0 !important;
}

.dropdown-toggle-caption {
  margin: 1rem 0px 0px 0px;
  max-width: calc(100% - 1rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-menu {
  border-bottom-left-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
  background-color: var(--color-control-inactive);
  padding: 0px;
  border: none;
  max-height: 280px;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  z-index: 30;
  display: none;
  box-shadow: var(--global-box-shadow);
}

.dropdown-toggle-expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu-visible {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  background-color: transparent;
  color: var(--color-text-default);
  min-height: 35px;
  padding: 0 1rem;
  max-width: 100%;
  white-space: initial;
  border-radius: 0px !important;
  text-align: start;
  justify-content: start;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item-selected {
  filter: var(--filter-control-active);
  color: var(--color-text-default);
}

.dropdown-item:first-child {
  border-radius: var(--global-border-radius) var(--global-border-radius) 0px 0px;
}

.dropdown-item:last-child {
  border-radius: 0px 0px var(--global-border-radius) var(--global-border-radius);
}

.dropdown .info-button {
  height: var(--dropdown-height);
  background-color: var(--color-control-inactive);
}

.dropdown:has(.info-button) .info-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.dropdown:has(.info-button) .dropdown-toggle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
