.item {
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--color-board-background);
  padding: 0.5rem;
  height: auto;
  width: 100%;
  align-items: flex-start;
  margin-top: var(--global-gap);
}

.item :global(.title) {
  margin: 0;
}

.item :global(.subtitle) {
  margin: 0;
  margin-top: 0.25rem;
}
