<div id='main-nav' role='toolbar'>
  <Common::Control::Button
    @icon='bars'
    @text='Navigation'
    @size='square'
    @variant='primary-transparent'
    @onClick={{this.handleSidebarClick}}
  />
</div>