<div id='sidebar' role='navigation'>
  {{#if this.navOnTop}}
    <Sidebar::Nav />
  {{/if}}
  <div id='sidebar-content'>
    {{!-- {{#if this.session.authenticated}}
      <h3 id='news-feed-title'>Neuigkeiten</h3>
    {{else}}
      <p class='text-center'>Melde Dich an, um Neuigkeiten zu empfangen.</p>
    {{/if}} --}}
    <hr />
    <Sidebar::BoardFavorites @boards={{this.boardFavorites}} />
  </div>
  {{#unless this.navOnTop}}
    <Sidebar::Nav />
  {{/unless}}
</div>