{{! @glint-nocheck }}
<div id='sidebar' role='navigation'>
  {{#if this.enableGestures}}
    <Misc::GesturePane
      @types={{array 'panstart' 'panmove' 'panend'}}
      @onGesture={{this.handleGesture}}
    />
  {{/if}}
  {{#if (eq this.navVerticalPosition 'top')}}
    <Sidebar::Nav />
  {{/if}}
  <div id='sidebar-content'>
    <Features::Quickstart @inSidebar={{true}} />
  </div>
  {{#if (eq this.navVerticalPosition 'bottom')}}
    <Sidebar::Nav />
  {{/if}}
</div>
<button
  id='sidebar-backdrop'
  type='button'
  aria-hidden='true'
  {{on 'click' this.handleSidebarBackdropClick}}
/>