<div id='sidebar' role='navigation'>
  {{#if (eq this.navVerticalPosition 'top')}}
    <Sidebar::Nav />
  {{/if}}
  <div id='sidebar-content'>
    <Features::Quickstart @inSidebar={{true}} />
  </div>
  {{#if (eq this.navVerticalPosition 'bottom')}}
    <Sidebar::Nav />
  {{/if}}
</div>
<button
  id='sidebar-backdrop'
  type='button'
  aria-hidden='true'
  {{on 'click' this.handleSidebarBackdropClick}}
/>