:global(.avatar) {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-avatar-background);
  padding: 0 !important;
}

:global(.avatar) > :global(img) {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin: auto;
}

.small {
  height: 50px;
  width: 50px;
}

.large {
  height: 125px;
  width: 125px;
}

.loading {
  background-color: transparent;
}

:global(.avatar) :global(.skeleton-element) {
  height: 100%;
  width: 100%;
}
