<div class='post'>
  <div class='post-details'>
    <div class='post-details-title'>
      <b class='post-details-author-name'>{{@post.author.name}}</b>
      <p class='post-details-date subtitle'>{{this.date}}</p>
    </div>
    <Common::Control::Button
      @icon='ellipsis-vertical'
      @text='Mehr Funktionen'
      @size='square'
      @onClick={{this.handleMenuClick}}
    />
  </div>
  <div class='post-content'>
    <p>
      {{this.content}}
    </p>
  </div>
</div>