:global(.post) {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--global-border-radius);
  scroll-margin-top: calc(var(--top-nav-height));
}

:global(.post):not(:first-of-type) {
  margin-top: var(--global-gap);
}

.subtle-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  backdrop-filter: brightness(0.6);
  z-index: 9;
  border-radius: var(--global-border-radius);
}

.header {
  background-color: var(--color-content-header);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
}

.details {
  display: grid;
  grid-template-areas:
    'avatar author'
    'avatar date';
  align-items: center;
}

.details :global(.avatar) {
  grid-area: avatar;
  margin-right: 0.5rem;
}

.author {
  grid-area: author;
  padding: 0;
  margin: 0;
  background-color: transparent;
  backdrop-filter: none;
  justify-content: start;
  align-items: center;
  height: auto;
  min-height: unset;
  backdrop-filter: none !important;
}

.author :global(s) {
  color: var(--color-text-highlighted);
}

.author :global(.fa-lock) {
  margin-left: 0.5rem;
  color: var(--color-text-subtle);
  font-size: smaller;
}

.date {
  grid-area: date;
  min-height: unset;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--color-text-subtle);
  justify-content: start;
  padding: 0;
  backdrop-filter: none !important;
}

.date :global(svg) {
  margin-left: 0.25rem;
  font-size: smaller;
}

.header > :global(*:last-child) {
  flex: 0;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-content-body);
  padding: 0.5rem;
  overflow: hidden;
  border-radius: var(--content-border-radius);
  border-bottom-left-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
}

.title {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
}

.title :global(img) {
  margin-right: 0.25rem;
}

.message {
  margin: 0;
  word-break: break-word;
}

.message :global(p) {
  display: contents;
  width: fit-content;
}

.message :global(.mod) {
  font-size: larger;
  font-weight: bolder;
  color: var(--color-text-mod);
}

.message :global(p.trigger) {
  font-size: 0.5em;
  cursor: pointer;
}

.message :global(a) {
  overflow-wrap: break-word;
}

.message :global(p.tex) {
  font-size: larger;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  background-color: rgb(0, 0, 0, 0.1);
  color: var(--color-text-subtle);
}

.message :global(img) {
  border-radius: var(--global-border-radius);
}

.message :global(.quote),
.message :global(.video-container) {
  display: flex;
  flex-direction: column;
  border-radius: var(--global-border-radius);
  overflow: hidden;
}

.message :global(.quote) {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.message :global(.video-container) {
  width: fit-content;
}

.message :global(.video-container-header) {
  justify-content: space-between;
}

.message :global(.quote-header),
.message :global(.video-container-header) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-block-header);
  padding: 0.5rem;
  text-decoration: none;
}

.message :global(.quote-header p:first-child),
.message :global(.video-container-header p:first-child) {
  color: var(--color-text-default);
  font-weight: normal !important;
}

.message :global(video) {
  max-width: 100%;
}

.message :global(.youtube-player) {
  width: 640px;
  height: 360px;
  max-width: 100%;
}

.message :global(blockquote) {
  margin: 0;
  padding: 0.5rem;
  background-color: var(--color-block-content);
}

.message :global(code) {
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  background-color: var(--color-block-content);
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
  font-size: larger;
  white-space: pre;
  overflow: auto;
}

.message :global(.spoiler) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  overflow: hidden;
  width: 100%;
  min-height: var(--control-default-height);
  background-color: var(--color-block-header);
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.message :global(.spoiler-header) {
  color: var(--color-text-subtle);
}

.message :global(.spoiler-input),
.message :global(.spoiler-content) {
  display: none;
}

:global(.spoiler-input:checked) + :global(.spoiler-header) {
  display: none;
}

:global(.spoiler-input:checked)
  + :global(.spoiler-header)
  + :global(.spoiler-content) {
  display: block;
  width: 100%;
}

.message :global(.table-container) {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  overflow: auto;
}

.message :global(table) {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  border: none;
  border-spacing: 2px;
}

.message :global(td) {
  background-color: var(--color-block-content);
  border: none;
  padding: 0.5rem;
  min-width: max-content;
  white-space: nowrap;
}

.footer {
  font-style: italic;
  color: var(--color-text-subtle);
  font-size: smaller;
  margin: 0.5rem 0 0 0;
}
