.bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--global-border-radius);
  background-color: var(--color-post-background-secondary);
}

.bookmark:not(:first-child) {
  margin-top: var(--global-gap);
}

.bookmark-unread {
  background-color: var(--color-post-background-primary);
}

.bookmark > * {
  height: 100%;
}

.bookmark > *:first-child {
  flex: 1;
  max-width: calc(100% - var(--control-default-height));
}

.bookmark-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
  align-items: start;
}

.bookmark:not(:first-child) {
  margin-top: var(--global-gap);
}

.bookmark-title {
  color: var(--color-text-default);
  font-weight: bold;
}

.bookmark-title,
.bookmark-subtitle {
  margin: 0;
  text-align: start;
  text-decoration: none !important;
  max-width: 100%;
}
