.bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: calc(100vw - 4 * var(--global-gap));
  margin: var(--global-gap);
  border-radius: var(--global-border-radius);
  background-color: var(--color-post-background-secondary);
}

.bookmark-unread {
  background-color: var(--color-post-background-primary);
}

.bookmark>* {
  height: 100%;
}

.bookmark-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
  align-items: start;
}

.bookmark:not(:first-child) {
  margin-top: 1px;
}

.bookmark-title {
  color: var(--color-text-default);
  font-weight: bold;
}

.bookmark-title, .bookmark-subtitle {
  margin: 0;
  text-align: start;
  text-decoration: none !important;
}

.bookmark-icon {
  color: var(--color-accent) !important;
  margin-right: 0.25rem;
}