:root {
  --gestures-container-background-debug: repeating-linear-gradient(
    45deg,
    rgb(188, 145, 96, 0.5),
    rgb(188, 145, 96, 0.5) 10px,
    rgb(199, 126, 42, 0.5) 10px,
    rgb(199, 126, 42, 0.5) 20px
  );
  /* May change during runtime */
  --app-overscroll-behavior: unset;
  --gestures-container-background: unset;
}

html,
body {
  overscroll-behavior: var(--app-overscroll-behavior);
}

.gestures-container {
  background: var(--gestures-container-background);
}

.overscroll-container-indicator {
  position: absolute;
  width: 100%;
  height: 0px;
  transition: 200ms height ease !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem;
  z-index: 99;
  background-color: var(--color-nav-background);
}

.overscroll-container-indicator[data-direction='up'] {
  bottom: 0;
  transform: translateY(-120%);
}

.overscroll-container-indicator p {
  text-align: center;
}

.overscroll-container-indicator * {
  color: var(--color-text-subtle);
}
