#newsfeed-indicator {
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  bottom: 0.90rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .9)
}

.newsfeed-indicator-position-left {
  left: 0.5rem
}

.newsfeed-indicator-position-right {
  right: 0.5rem
}

.newsfeed-indicator-none {
  display: none;
}

.newsfeed-indicator-info {
  background-color: var(--color-newsfeed-indicator-info)
}

.newsfeed-indicator-important {
  background-color: var(--color-newsfeed-indicator-important)
}