.private-messages-list {
  display: flex;
  flex-direction: column;
}

.private-messages-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: calc(100vw - 4 * var(--global-gap));
  margin: var(--global-gap);
  border-radius: var(--global-border-radius);
  background-color: var(--color-post-background-secondary);
}

.private-messages-list-item-unread {
  background-color: var(--color-post-background-primary);
}

.private-messages-list-item > * {
  height: 100%;
}

.private-messages-list-item-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
  align-items: start;
}

.private-messages-list-item-link p {
  margin: 0;
}
