.private-messages-list {
  display: flex;
  flex-direction: column;
}

.private-messages-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: calc(100vw - 4 * var(--global-gap));
  margin: var(--global-gap);
  border-radius: var(--global-border-radius);
  background-color: var(--color-post-background-secondary);
}

.private-messages-list-item:not(:first-child) {
  margin-top: 1px;
}

.private-messages-list-item-unread {
  background-color: var(--color-post-background-primary);
}

.private-messages-list-item > * {
  height: 100%;
}

.private-messages-list-item-link {
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem;
  flex-grow: 1;
  align-items: center;
}

.private-messages-list-item-link p {
  margin: 0;
}

.private-messages-list-item-link > svg {
  margin-right: 0.5rem !important;
}

.private-messages-list-item-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.private-message-unread-indicator {
  color: var(--color-text-subtle) !important;
}

.private-message-important-indicator {
  color: var(--color-warning) !important;
}

.private-message-view {
  box-sizing: border-box;
  background-color: var(--color-post-background-secondary);
  align-items: start;
  padding: 0;
  margin: var(--global-gap);
  border-radius: var(--global-border-radius);
}

.private-message-view-header {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.private-message-view table {
  width: 100%;
}

.private-message-view table p {
  margin: 0.25rem 0;
}

.private-message-view-content {
  box-sizing: border-box;
  background-color: var(--color-post-background-primary);
  width: 100%;
  padding: 1rem;
}

.private-message-view-content p {
  margin: 0;
}
