.control-variant-primary {
  background-color: var(--color-primary);
  color: var(--color-text-default);
}

.control-variant-primary p:not(.subtitle),
.control-variant-primary svg {
  color: var(--color-text-default);
}

.control-variant-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-default);
}

.control-variant-secondary p:not(.subtitle),
.control-variant-secondary svg {
  color: var(--color-text-default);
}

.control-variant-primary-transparent,
.control-variant-primary-transparent p:not(.subtitle),
.control-variant-primary-transparent svg {
  background-color: transparent;
  color: var(--color-text-default);
}

.control-variant-secondary-transparent,
.control-variant-secondary-transparent p:not(.subtitle),
.control-variant-secondary-transparent svg {
  background-color: transparent;
  color: var(--color-text-subtle);
}

.bg-transparent {
  background-color: transparent;
}

.bg-info {
  background-color: var(--color-info);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-error {
  background-color: var(--color-error);
}

.fg-error {
  color: var(--color-error);
}

.fg-accent {
  color: var(--color-accent);
}

.fg-text-subtle {
  color: var(--color-text-subtle);
}
