:root {
  /* May be overridden on iOS Safari */
  --bottom-nav-bottom-border: 0px;
}

/* Webkit scrollbar override */
::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  overflow: visible;
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-handle);
  width: 0.4rem;
  -webkit-border-radius: var(--global-border-radius);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html[data-ios='true'] {
  /* Add a bottom border to the bottom nav to make room for the home button */
  --bottom-nav-bottom-border: 1rem !important;

  /* iOS Safari applies an annoying zoom if the font-size in an input is smaller than 16px */
  input,
  textarea {
    font-size: 16px !important;
  }
}
