@import './skeleton.css';

@import './animations.css';
@import './colors.css';
@import './layout.css';
@import './text.css';
@import './nav.css';
@import './sidebar.css';
@import './modal.css';

@import './control/button.css';
@import './control/input.css';
@import './control/accordion.css';
@import './control/dropdown.css';
@import './control/menu.css';

@import './features/quickstart.css';
@import './features/bookmarks.css';
@import './features/private-messages.css';
@import './features/user-profile.css';
@import './features/gestures.css';

@import './board/post-form.css';
@import './board/thread.css';

@import './responsiveness.css';
@import './devices.css';

@import './themes/default.css';
@import './themes/default-round.css';
@import './themes/snowman.css';
@import './themes/discord.css';

@import './overrides.css';

html {
  background-color: var(--color-application-background);
  height: 100svh;
  width: 100svw;
}

body {
  margin: 0;
  height: inherit;
  width: inherit;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-text-default);
  /* The following variables may change during runtime. */
  --loading-indicator-opacity: 0;
}

.ember-application * {
  scrollbar-width: thin;
  transition:
    color 200ms,
    background-color 200ms,
    border 200ms,
    border-color 200ms,
    font-size 200ms,
    text-shadow 200ms,
    transform 200ms,
    scale 200ms,
    opacity 200ms;
  -webkit-tap-highlight-color: transparent !important;
}

#loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  backdrop-filter: var(--filter-loading-indicator);
  width: 64px;
  height: 64px;
  opacity: var(--loading-indicator-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 89;
}

.message-item {
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: var(--global-border-radius);
  background-color: var(--color-applog-item-background);
}

.message-item p {
  margin: 0.25rem 0;
}

.message-item svg {
  margin-right: 0.25rem;
}

.changelog {
  padding: 0;
  margin-top: 0.5rem;
}

.changelog-item {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: var(--global-border-radius);
  background-color: var(--color-changelog-item-background);
}

.changelog-item * {
  margin-top: 0;
  margin-bottom: 0;
}

.changelog-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.changelog-item-header > svg {
  margin-right: 0.5rem;
}

.changelog-item > .title {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
