@import 'modal/select-icon.css';
@import 'modal/select-meme.css';
@import 'modal/list.css';

#modal {
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--max-content-width) / 2);
  max-width: 90vw;
  border-radius: var(--global-border-radius);
  overflow: hidden;
  border: none;
  padding: 0;
  background-color: var(--color-modal-background);
  color: var(--color-text-default);
  scale: 0;
  opacity: 0;
  z-index: 79;
}

#modal[data-modal='post-preview'] {
  width: var(--max-content-width);
}

#modal.show {
  scale: 1;
  opacity: 1;
}

#modal-backdrop {
  display: none;
  z-index: 78;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100svh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  filter: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  cursor: default;
}

#modal[open] + #modal-backdrop {
  display: block;
}

#modal.show + #modal-backdrop {
  opacity: 1;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.modal-header svg {
  font-size: var(--icon-size-normal);
  margin: 0 0.75rem 0 1rem;
}

.modal-header h3 {
  margin: 1rem 1rem 1rem 0;
}

.modal-header-default {
  background-color: var(--color-info);
}

.modal-header-success {
  background-color: var(--color-success);
}

.modal-header-warning {
  background-color: var(--color-warning);
}

.modal-header-error {
  background-color: var(--color-error);
}

.modal-content {
  padding: 0.5rem 1rem;
  max-height: 50vh;
  overflow: auto;
}

.modal-content > form > *:not(:first-child) {
  margin-top: 0.25rem;
}

.modal-content p {
  margin: 0;
}

.modal-footer {
  margin-top: 0.5rem;
  border-top: 1px solid
    color-mix(in srgb, var(--color-text-subtle), transparent);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal-footer button {
  padding: 0 1rem 0 1rem;
  margin-left: 0.5rem;
}
