:root {
  --skeleton-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  --skeleton-animation: skeleton-shimmer 2s infinite;
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-element {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--color-text-subtle);
  opacity: 0.3;
}

.skeleton-shimmer {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: var(--skeleton-gradient);
  animation: var(--skeleton-animation);
}

#app-skeleton {
  position: absolute;
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

#app-skeleton-top-nav,
#app-skeleton-bottom-nav {
  box-shadow: var(--global-box-shadow);
  width: 100%;
  background-color: var(--color-nav-background);
  z-index: 3;
}

#app-skeleton-top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--top-nav-height);
}

#app-skeleton-bottom-nav {
  height: var(--bottom-nav-height);
}

#app-skeleton-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-skeleton-loading-indicator {
  margin: auto;
  width: 64px;
}
