{{! @glint-nocheck }}
<div class='quickstart {{if @inSidebar "quickstart-sidebar"}}'>
  <Features::Quickstart::Newsfeed @inSidebar={{@inSidebar}} />
  <hr />
  <Features::Quickstart::BoardFavorites @inSidebar={{@inSidebar}} />
</div>