<div class='quickstart-item'>
  <Common::Control::Link
    class='flex-row align-items-center justify-content-start'
    @size='max'
    @variant='secondary'
    @route='authenticated.private-messages.view'
    @model={{@privateMessage.id}}
  >
    <FaIcon @icon='envelope' class='fg-text-subtle' />
    <div class='text-start'>
      <p class='title max-lines-2'> {{@privateMessage.title}}</p>
      <p class='subtitle'>{{this.subtitle}}</p>
    </div>
  </Common::Control::Link>
</div>