<Common::Control::Button
  class='quickstart-item'
  @size='max'
  @variant='secondary'
  @onClick={{this.handleClick}}
>
  <FaIcon @icon='envelope' class='fg-text-subtle' />
  <div class='text-start'>
    <p class='title max-lines-2'> {{@privateMessage.title}}</p>
    <p class='subtitle'>{{this.subtitle}}</p>
  </div>
</Common::Control::Button>