.board-item:not(:first-child) {
  margin-top: 1px;
}

.board-item {
  box-sizing: border-box;
  height: auto;
  flex-direction: column;
  background-color: var(--color-post-background-primary);
  padding: 0.5rem;
  width: 100%;
  align-items: flex-start !important;
  margin-top: var(--global-gap);
  margin-bottom: var(--global-gap);
}

.board-item-important {
  background-color: var(--color-post-background-secondary);
}

.board-item-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
}

.board-item-title {
  display: flex;
  align-items: center;
  color: var(--color-text-default);
  font-weight: bold;
}

.board-item-title img {
  margin-right: 0.25rem;
}

.board-item-title p {
  margin: 0;
}

.board-item-title,
.board-item .subtitle {
  margin: 0 0 0.25rem 0;
  text-align: start;
  text-decoration: none !important;
}

.board-item-flags svg {
  color: var(--color-text-subtle);
  font-size: smaller;
  margin: 0 !important;
}
