.board-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.board-category:first-child {
  margin-top: var(--global-gap);
}

.board-category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: var(--color-post-background-secondary) !important;
  padding: 0.5rem;
  margin-bottom: var(--global-gap);
  height: unset;
  min-height: var(--control-default-height);
  text-align: start;
  cursor: pointer;
}

.board-category-header:not(:first-child) {
  margin-top: var(--global-gap);
}

.board-category-header-details {
  display: flex;
  flex-direction: column;
}

.board-category-header-title {
  font-size: larger;
  font-weight: bold;
  margin: 0 0 0.25rem 0;
  color: var(--color-text-default);
}

.board-category .subtitle {
  margin: 0;
}

.board-category-header-chevron {
  width: 1rem;
  font-size: larger;
  color: var(--color-text-default);
}

.board-category-item {
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--color-post-background-primary);
  padding: 0.5rem;
  height: unset;
  width: 100%;
  align-items: flex-start;
  margin-bottom: var(--global-gap);
}

.board-category-item-title {
  color: var(--color-text-default);
  font-weight: bold;
}

.board-category-item-title,
.board-header .subtitle {
  margin: 0 0 0.25rem 0;
  text-align: start;
  text-decoration: none !important;
}
