.board-category {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.board-category:not(:first-child) {
  margin-top: 1px;
}

.board-category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: var(--color-post-background-secondary);
  padding: 0.5rem;
  height: unset;
  min-height: var(--default-control-height);
  border-radius: var(--global-border-radius);
  text-align: start;
  cursor: pointer;
}

.board-category-header-details {
  display: flex;
  flex-direction: column;
}

.board-category-header-title {
  font-size: large;
  font-weight: bold;
  margin: 0 0 0.25rem 0;
  color: var(--color-text-default)
}

.board-category .subtitle {
  margin: 0;
}

.board-category-header-chevron {
  width: 1rem;
  font-size: large;
  color: var(--color-text-default);
}

.board-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--global-border-radius);
  background-color: var(--color-post-background-primary);
  padding: 0.5rem;
  width: calc(100% - 1rem);
  text-decoration: none;
}

.board-item:not(:first-child) {
  margin-top: 1px;
}

.board-item-title {
  color: var(--color-text-default);
  font-weight: bold;
}

.board-item-title, .board-header .subtitle {
  margin: 0 0 0.25rem 0;
  text-align: start;
  text-decoration: none !important;
}