#post-form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  max-width: 100%;
}

#post-form {
  height: calc(100dvh - var(--top-nav-height) - var(--bottom-nav-height) - var(--control-default-height) - 0.5rem);
  display: flex;
  flex-direction: column;
}

#post-form-header {
  display: flex;
}

#post-form-toolbar {
  height: var(--control-default-height);
  display: flex;
  overflow-x: auto;
}

#post-form textarea {
  height: 500px;
}