.post {
  display: flex;
  flex-direction: column;
  border-radius: var(--global-border-radius);
  margin-top: var(--global-gap);
  margin-bottom: var(--global-gap);
  overflow: hidden;
}

.post:not(:first-child) {
  margin-top: 1px;
}

.post-details {
  background-color: var(--color-post-background-secondary);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post-details-title {
  display: flex;
  flex-direction: row;
}

.post-details-author-name {
  margin: 0;
}

.post-details-date {
  margin: 0;
  text-decoration: none;
  scroll-margin-top: calc(var(--top-nav-height) + 2rem);
}

.post-details-date svg {
  margin-left: 0.25rem;
}

.post-avatar-small {
  display: flex;
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-post-background-primary);
}

.post-avatar-small img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.post-content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-post-background-primary);
  padding: 0.5rem;
}

.post-content p {
  margin: 0;
}

blockquote {
  border-radius: var(--global-border-radius);
  background-color: var(--color-quote-background);
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
}

code {
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  background-color: var(--color-quote-background);
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
  background-color: var();
  font-size: large;
  white-space: pre;
}

video {
  max-width: 100%;
}

.youtube-player {
  width: 640px;
  height: 360px;
  max-width: 100%;
}

/* .spoiler {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  overflow: hidden;
}

.spoiler-header {
  background-color: var(--color-control-inactive-primary);
  padding: 0.5rem;
}

.spoiler-content {
  padding: 0.5rem;
  background-color: var(--color-spoiler-background);
  color: var(--color-spoiler-background);
} */

.spoiler {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  overflow: hidden;
  width: 100%;
  min-height: var(--control-default-height);
  background-color: var(--color-control-inactive-primary);
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.spoiler-header {
  color: var(--color-text-subtle);
}

.spoiler-input, .spoiler-content {
  display: none;
}

.spoiler-input:checked+.spoiler-header {
  display: none;
}

.spoiler-input:checked+.spoiler-header+.spoiler-content {
  display: block;
}