#post-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: calc(100dvh - var(--top-nav-height) - var(--bottom-nav-height));
}

#post-form-toolbar,
#post-form-header svg {
  font-size: var(--icon-size-large);
}

#post-form-toolbar {
  min-height: var(--control-default-height);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

#post-form-header {
  display: flex;
  align-items: center;
}

#post-form-header > * {
  height: 100%;
}
