<h3 class='title text-center'>Boards</h3>
{{#if (eq this.status 'error')}}
  <p class='subtitle text-center'>(╯°□°)╯︵ ┻━┻<br /><br />Beim Laden Deiner
    Favoriten ist etwas schiefgegangen. Wenn Das Problem bestehen bleibt, setze
    am Besten Deine Einstellungen zurück.</p>
{{else if (eq this.status 'empty')}}
  <p class='subtitle text-center no-margin'>Du hast noch keine Favoriten
    hinzugefügt.</p>
{{else}}
  {{#each this.boards as |board|}}
    <Features::Quickstart::BoardFavorites::Item
      @board={{board}}
      @inSidebar={{@inSidebar}}
    />
  {{/each}}
{{/if}}