button, .button-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--control-default-height);
  min-height: var(--control-default-height);
  border: none;
  border-radius: var(--global-border-radius);
  font-size: medium;
}

button:not(:disabled), .button-link:not(:disabled) {
  cursor: pointer;
}

button:not(.control-size-square) svg, .button-link:not(.control-size-square) svg {
  margin-right: 0.25rem;
}

button:not(:disabled):active, .button-link:not(:disabled):active {
  background-color: var(--color-control-hover-primary);
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.button-link, .button-link:visited {
  color: var(--color-text-default);
}

.button-link-disabled {
  color: var(--color-control-disabled);
  pointer-events: none;
}