button, .button-link {
  height: var(--control-default-height);
  min-height: var(--control-default-height);
  border: none;
  border-radius: var(--global-border-radius);
  font-size: medium;
}

button:not(:disabled), .button-link:not(:disabled) {
  cursor: pointer;
}

button:not(.control-size-square) svg {
  margin-right: 0.25rem;
}

button:not(:disabled):active, .button-link:not(:disabled):active {
  background-color: var(--color-control-hover-primary);
}

@media (hover: hover) {

  button:not(:disabled):hover, .button-link:not(:disabled):hover {
    opacity: 1;
    background-color: var(--color-control-hover-primary);
  }
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.button-link:not(:disabled) {
  color: var(--color-text-default);
}

.button-link:disabled {
  color: var(--color-control-disabled);
}