button {
  height: var(--control-default-height);
  border: none;
  font-size: medium;
}

button:not(.control-size-square) svg {
  margin-right: 0.25rem;
}

button:not(:disabled):hover, button:not(:disabled):active {
  background-color: var(--color-control-hover-primary);
}