.dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-label {
  position: absolute;
  color: var(--color-text-subtle);
  top: 50%;
  transform: translateY(-125%);
  left: 1rem;
  font-size: small;
}

.dropdown-inner {
  position: relative;
}

.dropdown-toggle {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(var(--control-default-height) + 0.5rem);
  border-radius: var(--global-border-radius);
  padding: 0px 1rem 0px 1rem;
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle-icon {
  width: 1rem;
}

.dropdown-toggle-caption {
  margin: 1rem 0px 0px 0px;
  max-width: calc(100% - 1rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-menu {
  border-radius: var(--global-border-radius);
  background-color: var(--color-control-inactive);
  padding: 0px;
  border: none;
  max-height: 280px;
  width: inherit;
  max-width: inherit;
  overflow-y: auto;
  position: absolute;
  z-index: 30;
  display: none;
}

.dropdown-menu-visible {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  background-color: transparent;
  color: var(--color-text-default);
  min-height: 35px;
  padding: 0 8px 0 8px;
  max-width: 100%;
  white-space: initial;
  border-radius: 0px;
  text-align: start;
}

.dropdown-item:focus, .dropdown-item:active, .dropdown-item-selected {
  background-color: var(--color-control-hover);
  color: var(--color-text-default);
}

.dropdown-item:first-child {
  border-radius: var(--global-border-radius) var(--global-border-radius) 0px 0px;
}

.dropdown-item:last-child {
  border-radius: 0px 0px var(--global-border-radius) var(--global-border-radius);
}