.menu-button {
  position: relative;
  filter: none !important;
  backdrop-filter: none !important;
}

.menu-button menu {
  position: absolute;
  display: none;
  z-index: 30;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: var(--global-border-radius);
  background-color: var(--color-control-inactive);
  box-shadow: var(--global-box-shadow);
  max-width: 320px;
}

.menu-button menu[data-visible='true'] {
  display: flex;
}

.menu-top-left {
  bottom: 100%;
  right: 0;
}

.menu-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-top-right {
  bottom: 100%;
  left: 0;
}

.menu-bottom-left {
  top: 100%;
  right: 0;
}

.menu-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-bottom-right {
  top: 100%;
  left: 0;
}

.menu-button menu > * {
  box-sizing: border-box;
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
  padding: 0 1rem;
  width: max-content;
  min-width: 100%;
  max-width: 100%;
  justify-content: start;
}

.menu-button menu > * > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu-item svg {
  font-size: 1em;
  margin-left: 0;
  min-width: 1rem;
}
