<h3 class='text-center'>Gespeicherte Posts</h3>

{{#if (eq this.status 'error')}}
  <p class='subtitle'>(╯°□°)╯︵ ┻━┻<br /><br />Beim Laden Deiner gespeicherten
    Posts ist etwas schiefgegangen. Probier es später nochmal.</p>
{{else if (eq this.status 'empty')}}
  <p class='subtitle'>Du hast keine Posts gespeichert.</p>
{{else}}
  {{#each this.savedPosts as |post|}}
    <Features::Bookmarks::SavedPosts::Post @post={{post}} />
  {{/each}}
{{/if}}