<h3 class='title text-center'>Boards</h3>
{{#if (eq this.status 'error')}}
  <p class='subtitle sidebar-error-text'>(╯°□°)╯︵ ┻━┻<br /><br />Beim Laden
    Deiner Favoriten ist etwas schiefgegangen. Wenn Das Problem bestehen bleibt,
    setze am Besten Deine Einstellungen zurück.</p>
{{else if (eq this.status 'empty')}}
  <p class='subtitle sidebar-error-text'>Du hast noch keine Favoriten
    hinzugefügt.</p>
{{else}}
  {{#each @boards as |board|}}
    <Sidebar::BoardFavorite @board={{board}} />
  {{/each}}
{{/if}}