<div class='sidebar-content-element flex-row justify-content-between'>
  <Common::Control::Link
    class='flex-column flex-grow'
    @route='authenticated.thread'
    @query={{hash
      TID=@bookmark.thread.id
      PID=@bookmark.postId
      subtleUntilPostId=@bookmark.postId
      page=''
    }}
    @variant='secondary'
    @onClick={{this.handleLinkClick}}
  >
    <p class='title'> {{@bookmark.thread.title}}</p>
    <p class='subtitle'>{{this.subtitle}}</p>
  </Common::Control::Link>
</div>