<div
  class='private-messages-list-item
    {{if @message.unread " private-messages-list-item-unread"}}'
>
  <Common::Control::Link
    class='private-messages-list-item-link'
    @route='authenticated.private-messages.read'
    @model={{@message.id}}
  >
    {{#if @message.unread}}
      <FaIcon @icon='envelope' class='private-message-unread-indicator' />
    {{/if}}
    {{#if @message.important}}
      <FaIcon
        @icon='circle-exclamation'
        class='private-message-important-indicator'
      />
    {{/if}}
    <div class='private-messages-list-item-title'>
      <p class='title'>{{@message.title}}</p>
      <p class='subtitle'>{{this.subtitle}}</p>
    </div>
  </Common::Control::Link>
</div>