html[data-theme='discord'],
html[data-theme='discord'] * {
  /* Colors */

  --color-accent: #ffcd2e;
  --color-primary: #313338;
  --color-secondary: #313338;
  --color-application-background: #242629;
  --color-nav: #1e1f22;
  --color-sidebar: var(--color-application-background);

  --color-content-header: var(--color-secondary);
  --background-list-item-unread: #444037;
  --color-block-header: var(--color-nav);

  --color-text-default: #dadde0;
  --color-text-subtle: #949ba4;
  --color-text-highlighted: #f2f3f5;

  --color-scrollbar-handle: var(--color-nav);
  --color-avatar-background: var(--color-primary);

  /* Misc */
  --global-box-shadow: 0px 0px 5px var(--color-nav);
}
