html[data-theme='purple-haze'],
html[data-theme='purple-haze'] * {
  /* Colors */
  --color-accent: #d639cc;
  --color-primary: #474c24;
  --color-secondary: #595f2f;

  --color-application-background: #393b1f;
  --color-nav: #30321a;
  --color-sidebar: var(--color-application-background);

  --color-content-header: var(--color-primary);
  --color-scrollbar: var(--color-application-background);
  --color-scrollbar-handle: var(--color-nav);
  --color-avatar-background: var(--color-secondary);

  /* Misc */
  --global-box-shadow: 0px 0px 5px var(--color-nav);
}
