html[data-theme='purple-haze'],
html[data-theme='purple-haze'] * {
  /* Layout */
  --global-padding: 0.25rem;
  --global-gap: 4px;
  --global-border-radius: 5px;
  --content-border-radius: 0px;

  /* Colors */
  --color-accent: #d639cc;
  --color-primary: #474c24;
  --color-secondary: #595f2f;

  --color-application-background: rgb(57, 59, 31);
  --color-nav: #30321a;
  --color-sidebar: var(--color-application-background);

  --color-content-header: var(--color-primary);
  --color-scrollbar: var(--color-application-background);
  --color-scrollbar-handle: var(--color-nav);
  --color-avatar-background: var(--color-secondary);

  /* Misc */
  --global-box-shadow: 0px 0px 5px var(--color-nav);
}
