html[data-theme='showman'],
html[data-theme='snowman'] * {
  /* Layout */
  --global-padding: 0px;
  --global-gap: 0px;
  --global-border-radius: 0;

  /* Colors */
  --color-application-background: #f7f7f7;
  --color-nav: #cecece;
  --color-primary: var(--color-nav);
  --color-secondary: var(--color-application-background);
  --color-accent: #009cb8;

  --color-text-default: #333333;
  --color-text-subtle: #3f3f3f;
  --color-text-link: var(--color-text-subtle);
  --color-text-highlighted: #131313;
  --color-text-mod: red;

  --color-block-header: #aaaaaa;

  --color-modal-background: var(--color-secondary);

  --color-success: #70cc78;
  --color-warning: #e4a75c;
  --color-error: #ca4949;

  /* Filters */
  --filter-control-active: brightness(85%);
  --filter-click-ripple: brightness(50%);
}
