html[data-theme='tokyo-night'],
html[data-theme='tokyo-night'] * {
  /* Colors */
  --color-accent: #7dcfff;
  --color-primary: #343b58;
  --color-secondary: #24283b;
  --color-application-background: #1a1b26;
  --color-nav: #16161e;
  --color-sidebar: var(--color-application-background);

  --color-content-header: var(--color-secondary);
  --color-content-body: var(--color-primary);
  --color-block-header: var(--color-application-background);
  --color-modal-background: var(--color-secondary);
  --color-avatar-background: var(--color-primary);

  --color-text-default: #dcdde0;
  --color-text-subtle: #717591;
}

.control-variant-primary,
.control-variant-primary p:not(.subtitle),
.control-variant-primary svg,
.control-variant-primary-transparent,
.control-variant-primary-transparent p:not(.subtitle),
.control-variant-primary-transparent svg {
  color: var(--color-text-highlighted);
}
