<div class='error-container'>
  <h1>Verbindungsfehler</h1>

  <h3>potber konnte sich nicht mit dem Forum verbinden.</h3>
  <p>Bitte prüfe, ob Du mit dem Internet verbunden bist. Falls ja, melde bitte
    den folgenden Fehler:
  </p>

  <p class='subtitle'>{{@error}}</p>
  <p class='subtitle'>
    Stack:
    {{@error.stack}}
  </p>

</div>