:root {
  --gesture-pane-opacity-debug: 0.5;
  /* May change during runtime */
  --app-overscroll-behavior: unset;
  --gesture-pane-opacity: 0;
}

html,
body {
  overscroll-behavior-x: var(--app-overscroll-behavior);
}

.gesture-pane {
  position: fixed;
  height: inherit;
  width: inherit;
  background-color: orange;
  opacity: var(--gesture-pane-opacity);
}
