{{! @glint-nocheck }}<Nav::Routes::Generic @title='Home' />

<Common::Container @size='medium' class='home'>
  <h2 class='no-margin'>Hallo, {{@model.session.username}}!</h2>
  <Features::Quickstart />
</Common::Container>