{{page-title 'Über die App'}}

<Nav::Routes::About />

<div class='padding-medium'>
  potber | Version
  {{this.version}}

  <br />
  entwickelt von
  <a href='https://www.leopoldhock.de'>Leopold Hock</a>
  <br /><br />
  ▶
  <a href='https://my.mods.de/1268185'>Profil</a>
  <br />
  ▶
  <a href='https://github.com/spuxx1701/potber'>GitHub</a>

</div>