{{! @glint-nocheck }}{{page-title 'potber'}}

{{#if @model.failure}}
  <Misc::Error::StartupFailure @error={{@model.error}} />
{{else}}
  <div id='page-content'>
    {{outlet}}
  </div>

  <Misc::LoadingIndicator />

  <Modal />

  <NotificationContainer @position='bottom' @zindex='99' />

  <Nav />

  {{#if this.authenticated}}
    <Sidebar />
  {{/if}}
{{/if}}