name: staging

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  lint:
    uses: spuxx1701/ci-cd/.github/workflows/npm_lint.yml@v2.0

  test:
    uses: spuxx1701/ci-cd/.github/workflows/npm_test-coverage.yml@v2.0

  release_image:
    needs:
      # - lint
      - test
    uses: spuxx1701/ci-cd/.github/workflows/release_image.yml@v2.0
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
