<div id='sidebar-left-nav'>
  <Common::Control::Link @route='/'>
    <FaIcon @icon='house' />
  </Common::Control::Link>
  <Common::Control::Link @route='/'>
    <FaIcon @icon='envelope' />
  </Common::Control::Link>
  <Common::Control::Link @route='/'>
    <FaIcon @icon='bookmark' />
  </Common::Control::Link>
  <Common::Control::Link @route='/'>
    <FaIcon @icon='gear' />
  </Common::Control::Link>
</div>